/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  padding-bottom: 20px;
  background-color: #F6F8F9;
}

header{
  padding: 20px;
  margin-bottom: 50px;
  background-color: white;
}

main{
  width: 80%;
  max-width: 1080px;
  margin: auto;
}

.circle{
  width: 30px;
  height: 30px;
  padding: 1px;
  margin-right: 10px;
  color: #64C0A9;
  border-radius: 50%;
  border: 2px solid #64C0A9;
  text-align: center;
  vertical-align: middle;
  line-height: 27px;
  display: inline-block;
}

.info{
  padding: 10px 12px;
  font-size: 16px;
  color: white;
  border-radius: 15px;
}



/* HEADER */
header img{
  width: 90px;
  vertical-align: middle;
}

header .title{
  display: inline-block;
  font-size: 35px;
  vertical-align: middle;
}



/* ADD */
.add{
  margin-bottom: 3px;
  padding: 20px 100px 15px 100px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: white;
}

.add button{
  padding: 14px;
  border-radius: 5px;
}

.add span{
  font-size: 18px;
  font-weight: 800;
}

.add #blue{
  width: 120px;
  background-color: #47ADF1;
  border: #47ADF1;
}

#blue span{
  color: white;
}

.add #white{
  width: 170px;
  background-color: white;
  border: 2px solid #E1E4E6;
}

#white span{
  color: #E1E4E6;
}



/* CONTAINER */
.container{
  padding: 40px 100px;
  background-color: white;
}

.arrow{
  margin-bottom: 40px;
}

.arrow h2{
  font-size: 30px;
  margin-bottom: 15px;
}

.arrow .row{
  font-size: 24px;
  margin-bottom: 35px;
}

.circle.x{
  color: #EA625C;
  border-color: #EA625C;
}

.info.editorial{
  background-color: #45ABEA;
}

.info.q1{
  background-color: #9A70E2;
}

.info.recruilting{
  background-color: #64C0A9;
}

.info.mobile{
  background-color: #F29E33;
}

.info.website{
  background-color: #D762A0;
}

.info.sales{
  background-color: #B0C926;
}

